<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Galerie Mauritiushof - 404 Fehlerseite
-->
{% extends "../layouts/base.html" %}

{% block body %}
  <section class="error-section py-5">
    <div class="container text-center">
      <div class="py-5">
        <h1 class="display-1">404</h1>
        <h2 class="mb-4">Seite nicht gefunden</h2>
        <p class="lead mb-5">Die gesuchte Seite existiert leider nicht oder wurde verschoben.</p>
        <a href="/" class="btn btn-dark">Zurück zur Startseite</a>
      </div>
    </div>
  </section>
{% endblock %}